@font-face {
    font-family: "Helvetica";
    src: url(Helvetica\ Neue\ UltraLight.otf);
}

html {
    background-color: azure;
    text-align: center;
}

body {
    font-family: "Helvetica";
}

.calculator {
    display: flex;
    min-height: 95vh;
    height: 100hv;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
    background-color: #1C1C1C;
    gap: 5px;
    border-radius: 90px;
    height: 650px;
    overflow: hidden;
    padding: 20px;
    border: solid;
    border-color: silver;
    border-width: 10px;
}

.display {
    background-color: #1C1C1C;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
    font-size: 5rem;
    margin: 5px;
}

#zero {
    grid-column: span 2;
    display: flex;
    padding-left: 35px;
    align-items: center;
}

#result {
    grid-column: span 2;
}

.bottomButton {
    background-color: #D4D4D2;
    color: #1C1C1C;
}

.operatButton {
    background-color:#FF9500;
}

.digitButton {
    background-color: #505050;
}

button {
    color: white;
    font-size: 2rem;
    text-align: center;
    border-radius: 100px;
    border: none;
    margin: 5px;
}

button:hover {
    transform: scale(1.05);
    border: solid;
    border-color: gold;
}

.operatButton:focus {
    color: #FF9500;
    background-color: white;
}